<div>
    <h1>Задача № {{task.id}}:</h1>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Id задачи</td>
            <td>{{task.id}}</td>
        </tr>
        <tr>
            <td>Название</td>
            <td>{{task.title}}</td>
        </tr>
        <tr>
            <td>Имя владельца</td>
            <td>{{task.leaderUsername}}</td>
        </tr>
        <tr>
            <td>Описание</td>
            <td>{{task.description}}</td>
        </tr>
        <tr>
            <td>Название проекта</td>
            <td>{{task.projectTitle}}</td>
        </tr>
        <tr>
            <td>Приоритет</td>
            <td>{{task.priority}}</td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>{{task.status}}</td>
        </tr>
        <tr>
            <td>Исполнители</td>
            <td>{{users}}</td>
        </tr>
        <tr>
            <td>Срок исполнения</td>
            <td>{{task.deadline}}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-info" ng-href="#!/tasks/edit/{{task.id}}" ng-hide="task.leaderUsername != currentUser.username">Изменить</a>
    <br>
    <br>

    <div class="comments">
        <h3 class="title-comments">Комментарии</h3>
        <ul class="media-list">
            <li class="media" ng-repeat="c in comments">
                <div class="media-left">
                    <img class="media-object img-rounded" src="avatar.png">
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="author">{{c.username}}</div>
                        <div class="metadata">
                            <span class="date" ng-bind="c.createdAt | date:'MM/dd/yyyy h:mma'"></span>
                        </div>
                    </div>
                    <div class="media-text text-justify">{{c.text}}</div>
                </div>
            </li>
        </ul>
    </div>

    <form ng-submit="sendComment()">
        <div ng-m></div>
        <div class="form-group">
            <textarea class="form-control" id="commentary" rows="3" ng-model="newComment.text" placeholder="Введите комментарий..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

</div>