<!doctype html>

<html ng-app="app" ng-controller="projectsController">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h1>Проекты:</h1>
    <br>
    <a class="btn btn-outline-warning" href="#!/projects/create">Создать проект</a>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Имя руководителя</td>
            <td>Время создание</td>
            <td>Время сдачи</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProjectsList">
            <td><a ng-href="#!/tasks?project={{p.id}}">{{p.title}}</a></td>
            <td>{{p.leaderUsername}}</td>
            <td>{{p.createdAt}}</td>
            <td>{{p.deadline}}</td>
            <td><a ng-href="#!/projects/edit/{{p.id}}">Изменить</a></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Project navigation">
        <ul class="pagination" ng-if="page.totalPages > 1">
            <li class="page-item" ng-class="{disabled:page.first}">
                <a class="page-link" ng-click="findProjects(1)">Первая</a></li>
            <li class="page-item" ng-class="{disabled:page.first}">
                <a class="page-link" ng-click="findProjects(page.pageable.pageNumber)">Предыдущая</a></li>
            <li class="page-item" ng-repeat="p in pages" ng-class="{active:page.pageable.pageNumber === p - 1}">
                <a class="page-link" ng-click="findProjects(p)">{{p}}</a></li>
            <li class="page-item" ng-class="{disabled:page.last}">
                <a class="page-link" ng-click="findProjects(page.pageable.pageNumber + 2)">Следующая</a></li>
            <li class="page-item" ng-class="{disabled:page.last}">
                <a class="page-link" ng-click="findProjects(page.totalPages)">Последняя</a></li>
        </ul>
    </nav>

</div>
</body>
</html>